* {
    padding: 0px;
    margin: 0px;
    color: #333;
}


::-moz-selection {
    background: #338FFF;
    color: #fff;
}

::-webkit-selection {
    background: #338FFF;
    color: #fff;
}

::selection {
    background: #338FFF;
    color: #fff;
}



#photoBook {
    width: 1100px;
    height: 700px;
    position: relative;
    top:100px;
    left:500px;
    //margin: 30px auto;
    -webkit-perspective-origin: 50% 60%;
    perspective-origin: 50% 60%;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    background: url(../l_img/bookBg.png) no-repeat 0 0;
    background-size: 100% 100%;
}

.bookPage {
    position: absolute;
    width: 527.19px;
    height: 676.76px;
    top: 11.62px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all linear 2s;
    -moz-transition: all linear 2s;
    -ms-transition: all linear 2s;
    -o-transition: all linear 2s;
    transition: all linear 2s;
}
.bookCover {
    position: absolute;
    width: 550px;
    height: 700px;
    top: 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all linear 2s;
    -moz-transition: all linear 2s;
    -ms-transition: all linear 2s;
    -o-transition: all linear 2s;
    transition: all linear 2s;
}

.bookPage .bookContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 527.19px;
    height: 676.76px;

    background-size: 100% 100%;
    //background-position: 0px 11.62px;
}
.bookCover .bookContent{
    position:absolute;
    top:0;
    left:0;
    width:550px;
    height:700px;
}

/*.frist {
    left: 0;
    z-index: 1;
}

    .frist img {
        z-index: 1;
    }*/

/*.last {
    left:550px;
    z-index: 1;
}*/

.runPage {
    left:550px;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}



.runClass {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.photoBook:hover .nextBtn {
    display: block;
}
 .nextBtn {
    //display: none;
    position: absolute;
    top: 300px;
    cursor: pointer;
    z-index: 4000000;
    font-size: 50px;
    line-height: 100px;
    color: #fff;
    text-decoration: none;
    background-color: rgba(0,0,0,.5);
}

.lastBtn {
    display:none;
    position: absolute;
    top: 300px;
    cursor: pointer;
    z-index: 4000000;
    font-size: 50px;
    line-height: 100px;
    color: #fff;
    text-decoration: none;
    background-color: rgba(0,0,0,.5);
}
.lastBtn {
    left: 0;
}

.nextBtn {
    right: 0;
}




/* carousel */
.pt-page-rotateCarouselLeftOut {
    -webkit-transform-origin: 100% 50%;
    -webkit-animation: rotateCarouselLeftOut .8s both ease;
    -moz-transform-origin: 100% 50%;
    -moz-animation: rotateCarouselLeftOut .8s both ease;
    transform-origin: 100% 50%;
    animation: rotateCarouselLeftOut .8s both ease;
}

.pt-page-rotateCarouselLeftIn {
    -webkit-transform-origin: 0% 50%;
    -webkit-animation: rotateCarouselLeftIn .8s both ease;
    -moz-transform-origin: 0% 50%;
    -moz-animation: rotateCarouselLeftIn .8s both ease;
    transform-origin: 0% 50%;
    animation: rotateCarouselLeftIn .8s both ease;
}

.pt-page-rotateCarouselRightOut {
    -webkit-transform-origin: 0% 50%;
    -webkit-animation: rotateCarouselRightOut .8s both ease;
    -moz-transform-origin: 0% 50%;
    -moz-animation: rotateCarouselRightOut .8s both ease;
    transform-origin: 0% 50%;
    animation: rotateCarouselRightOut .8s both ease;
}

.pt-page-rotateCarouselRightIn {
    -webkit-transform-origin: 100% 50%;
    -webkit-animation: rotateCarouselRightIn .8s both ease;
    -moz-transform-origin: 100% 50%;
    -moz-animation: rotateCarouselRightIn .8s both ease;
    transform-origin: 100% 50%;
    animation: rotateCarouselRightIn .8s both ease;
}






/********************************* keyframes **************************************/




/* carousel */

@-webkit-keyframes rotateCarouselLeftOut {
    to {
        opacity: .3;
        -webkit-transform: translateX(-150%) scale(.4) rotateY(-65deg);
    }
}

@-moz-keyframes rotateCarouselLeftOut {
    to {
        opacity: .3;
        -moz-transform: translateX(-150%) scale(.4) rotateY(-65deg);
    }
}

@keyframes rotateCarouselLeftOut {
    to {
        opacity: .3;
        transform: translateX(-150%) scale(.4) rotateY(-65deg);
    }
}

@-webkit-keyframes rotateCarouselLeftIn {
    from {
        opacity: .3;
        -webkit-transform: translateX(200%) scale(.4) rotateY(65deg);
    }
}

@-moz-keyframes rotateCarouselLeftIn {
    from {
        opacity: .3;
        -moz-transform: translateX(200%) scale(.4) rotateY(65deg);
    }
}

@keyframes rotateCarouselLeftIn {
    from {
        opacity: .3;
        transform: translateX(200%) scale(.4) rotateY(65deg);
    }
}

@-webkit-keyframes rotateCarouselRightOut {
    to {
        opacity: .3;
        -webkit-transform: translateX(200%) scale(.4) rotateY(65deg);
    }
}

@-moz-keyframes rotateCarouselRightOut {
    to {
        opacity: .3;
        -moz-transform: translateX(200%) scale(.4) rotateY(65deg);
    }
}

@keyframes rotateCarouselRightOut {
    to {
        opacity: .3;
        transform: translateX(200%) scale(.4) rotateY(65deg);
    }
}

@-webkit-keyframes rotateCarouselRightIn {
    from {
        opacity: .3;
        -webkit-transform: translateX(-200%) scale(.4) rotateY(-65deg);
    }
}

@-moz-keyframes rotateCarouselRightIn {
    from {
        opacity: .3;
        -moz-transform: translateX(-200%) scale(.4) rotateY(-65deg);
    }
}

@keyframes rotateCarouselRightIn {
    from {
        opacity: .3;
        transform: translateX(-200%) scale(.4) rotateY(-65deg);
    }
}


/* animation delay classes */

.pt-page-delay100 {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    animation-delay: .1s;
}

.pt-page-delay180 {
    -webkit-animation-delay: .180s;
    -moz-animation-delay: .180s;
    animation-delay: .180s;
}

.pt-page-delay200 {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    animation-delay: .2s;
}

.pt-page-delay300 {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    animation-delay: .3s;
}

.pt-page-delay400 {
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    animation-delay: .4s;
}

.pt-page-delay500 {
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    animation-delay: .5s;
}

.pt-page-delay700 {
    -webkit-animation-delay: .7s;
    -moz-animation-delay: .7s;
    animation-delay: .7s;
}

.pt-page-delay1000 {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}



